@use "global" as *;

.sidebar-voice-card{

}

.sidebar-voice-card__img{
  display: block;
  max-width: 100%;

}

.sidebar-voice-card__img img{
  width: 100%;
  aspect-ratio: 294 / 218;
  object-fit: cover;
}

.sidebar-voice-card__body{
  margin-top: rem(18);
}

.sidebar-voice-card__character{
  font-size: rem(12);
  line-height: 1.5;
  font-weight: $regular;
  font-family: "Noto Sans JP", sans-serif;
}

.sidebar-voice-card__title{
  margin-top: rem(8);
  font-size: rem(24);
  font-weight: $medium;
  font-family: "Noto Sans JP", sans-serif;

}