@use "global" as *;

.page-terms-main {
}

.page-terms-main__inner.inner {
  @include mq("md") {
    max-width: rem(850);
  }
}

.page-terms-main__title {
  font-size: rem(24);
  font-weight: $medium;
  font-family: "Noto Sans JP", sans-serif;
  color: $black;

  @include mq("md") {
    font-size: rem(32);
  }
}

.page-terms-main__items {
  margin-top: rem(40);
}

.page-terms-main__item {
  font-size: rem(16);
  font-weight: $regular;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 2;
  color: $black;
}

.page-terms-main__item:not(:first-child) {
  margin-top: rem(30);
}

.page-terms-main__item:last-child {
  margin-top: rem(33);
}

.page-terms-main__list-wrapper {
  font-family: "Noto Sans JP", sans-serif;
  list-style: auto;
  padding-left: 1.5em;
}

.page-terms-main__text-1 {
  margin-top: rem(3);
}
