@use "global" as *;

.mv{
  width: 100%;
  height: 100vh;
  min-height: rem(400);
}

.mv__inner{
  width: 100%;
  height: inherit;
  position: relative;
}

.mv__slider,
.swiper-slide picture,
.swiper-slide source,
.swiper-slide img {
  height: 100%;
}

.swiper-slide img {
  object-fit: cover;
  aspect-ratio: 375/667;
}

.mv__content{
  position: absolute;
  top: 50.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

  @include mq("md") {
  top: 51%;
  }
}

.mv__title{
  font-size: rem(40);
  letter-spacing: 0.54em;
  font-family: $third-font-family;
  text-indent: 0.54em;
  color: $white;
  text-transform: uppercase;
  line-height: 1;

  @include mq("md") {
    font-size: rem(80);
    line-height: 1.25;
  }
}

.mv__text{
  font-size: rem(20);
  color: $white;
  text-align: center;
}