@use "global" as *;

.voice{
}

.voice__inner.inner{
  max-width: rem(600);

  @include mq("md") {
  max-width: rem(1130);
}
}

.voice__wrapper{
  width: 100%;
  position: relative;
}

.voice__wrapper::before {

  @include mq("md") {
    content: "";
    position: absolute;
    top: rem(-120);
    left: calc(50% - min(48vw,57.405%));
    display: inline-block;
    width: rem(301);
    height: rem(138);
    background-image: url(../images/common/voice-back1.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
  }
}

.voice__wrapper::after {

  @include mq("md") {
    content: "";
    position: absolute;
    bottom:rem(-67);
    right: 0;
    display: inline-block;
    width: rem(71);
    height: rem(162);
    background-image: url(../images/common/voice-back2.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
  }
}

.voice__items{
  margin-top: rem(40);

  @include mq("md") {
  margin-top: rem(30);
  }
}

.voice-cards__item{
  margin: 0 auto;
}

.voice__button{
  margin-top: rem(40);
  text-align: center;

  @include mq("md") {
  margin-top: rem(80);
  }
}