@use "global" as *;

.modal {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: rem(80);
  transition: opacity 0.3s, visibility 0.3s;
  opacity: 0;
  visibility: hidden;
  background: rgba(32, 32, 32, 80%);
  cursor: pointer;
}

.modal.is-open {
  visibility: visible;
  opacity: 1;
}

.modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - rem(30));
  height: 76.8vh;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;


  @include mq("md") {
  width: min(64%, rem(920));
  }
}

.modal__img {
  height: 100%;
  object-fit: contain;
  visibility: hidden;
  transition: visibility 0s 0.2s; /* 0.2秒遅れて非表示に */
}


.modal.is-open .modal__img {
  visibility: visible;
  transition-delay: 0s; /* 表示時は遅延なし */
}

.fixed {
  overflow: hidden;
  height: 100vh;
}
