@use "global" as *;

.form-wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: rem(24);
  border-bottom: rem(1) dashed $green;

  @include mq("md") {
    flex-direction: row;
    padding-bottom: rem(40);
  }
}

.form-wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: rem(1);
  background-image: url(../images/common/underline.svg);
  background-repeat: repeat;
}

.form-wrapper__item {
  width: 100%;
  text-align: left;
  font-size: rem(16);
  font-weight: $bold;
  font-family: "Noto Sans JP", sans-serif;
  color: $black;

  @include mq("md") {
    width: 31.42%;
  }
}

.form-wrapper__item span {
  position: relative;
}

.form-wrapper__item span::after {
  content: "必須";
  position: absolute;
  top: rem(1);
  right: rem(-69);
  display: inline-block;
  width: rem(62);
  height: rem(21);
  background-color: $orange;
  padding: rem(2) rem(11) rem(2) rem(16);
  font-size: rem(12);
  font-weight: $regular;
  font-family: "Noto Sans JP", sans-serif;
  color: $white;
  letter-spacing: 0.4em;
}

.form-wrapper__body {
  width: 100%;
  border: rem(1) solid $green;
  margin-top: rem(12);
  @include mq("md") {
    width: 68.57%;
    margin-top: 0;
  }
}

.form-wrapper__body.form-wrapper__body--error {
  border: rem(1) solid $orange;
  background-color: rgba($color: $orange, $alpha: 0.2);
}

.form-wrapper__body-4th {
  display: flex;
  flex-direction: column;

  @include mq("md") {
    gap: rem(6);
  }
}

.form-wrapper__body.form-wrapper__body-4th {
  border: none;
}

.form-wrapper__body-5th {
  position: relative;
}

.form-wrapper__body-5th::after {
  content: "";
  position: absolute;
  bottom: rem(18);
  right: rem(8);
  width: rem(10);
  height: rem(10);
  aspect-ratio: 0.86603;
  background: #408f95;
  clip-path: polygon(0 0, 100% 50%, 0 100%);
  transform: rotate(90deg);

  @include mq("md") {
    bottom: 33%;
  }
}

.form-wrapper__body.form-wrapper__body-6th {
  height: rem(200);
  overflow: scroll;
  /*スクロールバー非表示（Firefox）*/
  scrollbar-width: none;
}

/*スクロールバー非表示（Chrome・Safari・Edge）*/
.form-wrapper__body::-webkit-scrollbar {
  display: none;
}

.form-wrapper__text {
  width: 100%;
  padding: rem(6.5) rem(8) rem(6.5) rem(16);
  font-size: rem(16);
  font-weight: $regular;
  font-family: "Noto Sans JP", sans-serif;
  color: $black;
}

.form-wrapper__text::placeholder {
  color: $skyblue;
}

.form-wrapper__text.form-wrapper__text--error::placeholder {
  color: $white;
}

.form-wrapper__inquiry {
  position: relative;
  padding-left: rem(22);
}

.form-wrapper__inquiry input {
  display: none;
}

.form-wrapper__inquiry::before {
  content: "";
  position: absolute;
  top: rem(4);
  left: 0;
  width: rem(14);
  height: rem(14);
  border: rem(1) solid $green;
}

.form-wrapper__inquiry::after {
  content: "";
  position: absolute;
  top: rem(7);
  left: rem(3);
  display: inline-block;
  width: rem(9);
  height: rem(5);
  opacity: 0;
  border-left: rem(2) solid $orange;
  border-bottom: rem(2) solid $orange;
  transform: rotate(-45deg);
}

.form-wrapper__inquiry:has(input[type="checkbox"]:checked)::after {
  opacity: 1;
}

.form-wrapper__inquiry-text {
  font-size: rem(16);
  font-weight: $regular;
  font-family: "Noto Sans JP", sans-serif;
  color: $black;
}

.form-wrapper__select {
  width: 100%;
  padding: rem(11) rem(8);
  font-size: rem(12);
  font-weight: $regular;
  font-family: "Noto Sans JP", sans-serif;
  color: $black;
  @include mq("md") {
    padding: 0 rem(20) 0 rem(8);
  }
}

.form-wrapper__textarea {
  width: 100%;
  padding: rem(8);
  height: inherit;
  font-size: rem(16);
  font-weight: $regular;
  font-family: "Noto Sans JP", sans-serif;
  color: $black;
  resize: both;
}
