@use "global" as *;

.page-others-main {
}

.page-others-main__inner.inner {
  @include mq("md") {
    max-width: rem(850);
  }
}

.page-others-main__title {
  font-size: rem(24);
  font-weight: $medium;
  font-family: "Noto Sans JP", sans-serif;
  color: $black;

  @include mq("md") {
    font-size: rem(32);
  }
}

.page-others-main__items {
  margin-top: rem(40);
  counter-reset: section;
  font-weight: $regular;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 2;
  color: $black;

  @include mq("md") {
    margin-top: rem(34);
  }
}


// WP化
.wp-block-spacer{
  height: rem(32);
}

.page-others-main__items li{
  counter-increment: section;
  position: relative;
  padding-left: 1.5em;
}


.page-others-main__items li::before{
  content: counter(section)".";
  position: absolute;
  top:0;
  left: 0;
}