@use "global" as *;

.page-privacy-main {
}

.page-privacy-main__inner.inner {
  @include mq("md") {
    max-width: rem(850);
  }
}

.page-privacy-main__title {
  font-size: rem(24);
  font-weight: $medium;
  font-family: "Noto Sans JP", sans-serif;
  color: $black;

  @include mq("md") {
    font-size: rem(32);
  }
}

.page-privacy-main__items {
  margin-top: rem(40);

  @include mq("md") {
    margin-top: rem(34);
  }
}

.page-privacy-main__item {
  font-size: rem(16);
  font-weight: $regular;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 2;
  color: $black;
}

.page-privacy-main__item:not(:first-child) {
  margin-top: rem(32);
}

.page-privacy-main__list-wrapper {
  list-style: auto;
  font-family: "Noto Sans JP", sans-serif;
  padding-left: 1.5em;
}

// .page-privacy-main__list {
//   padding-left: 1.5em;
//   text-indent: -1.5em;
// }
