@use "global" as *;

.blog-cards{
  display: grid;
  grid-template-columns: repeat(1, 1fr);


  @include mq("md") {
    grid-template-columns: repeat(3, 1fr);
  }
}

.blog-cards__item{
  width: 100%;
  margin: 0 auto;

  @include mq("md") {
  max-width: rem(333);
  }
}
