@use "global" as *;

footer {
  background-color: $green;
  padding-top: rem(48);
  padding-bottom: rem(56);

  @include mq("md") {
    padding-top: rem(80);
    padding-bottom: rem(80);
  }
}

.footer__heading {
  display: flex;
  flex-direction: column;
  row-gap: rem(16);
  align-items: flex-start;

  @include mq("md") {
    flex-direction: row;
    column-gap: rem(40);
    align-items: flex-end;
  }
}

.footer__logo {
  width: rem(120);
  height: rem(45);
  transition: .3s opacity;

  @include mq("md") {
    width: rem(200);
    height: rem(75);
  }
}

@media(any-hover:hover){
  .footer__logo a:hover{
    opacity: 0.7;
  }
}


.footer__icon {
  display: flex;
  gap: rem(16);
  padding-bottom: rem(4);
}

.footer__icon-facebook,
.footer__icon-instagram {
  width: rem(24);
  height: rem(24);
  transition: .3s opacity;

  @include mq("md") {
    width: rem(32);
    height: rem(32);
  }
}

@media(any-hover:hover){
  .footer__icon-facebook a:hover,
  .footer__icon-instagram a:hover{
    opacity: 0.7;
  }
}



.footer__wrapper {
  margin-top: rem(35);

  @include mq("md") {
    margin-top: rem(24);
  }
}

.footer__wrapper .nav-group__container.nav-group__container--3,
.footer__wrapper .nav-group__container.nav-group__container--4{
  margin-left: rem(12);

  @include mq("md") {
  margin-left: 0;
  }
}

.footer__copyright {
  margin-top: rem(40);
  white-space: nowrap;
  font-size: rem(12);
  line-height: 1.5;
  font-weight: $regular;
  color: $white;
  display: block;
  text-align: center;

  @include mq("md") {
    margin-top: rem(80);
    font-size: rem(14);
    line-height: 1.2857;
  }
}
