@use "global" as *;

.hero {
  position: relative;
  height: rem(460);

  @include mq("md") {
    height: rem(548);
  }
}

.hero__inner {
  width: 100%;
}

.hero__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  @include mq("md") {
  top: 60%
  }
}

.hero__title {
  font-size:rem(40);
  font-weight:$regular;
  font-family:$third-font-family;
  color:$white;

  @include mq("md") {
  font-size:rem(80);
  line-height: 1;
  }
}
