@use "global" as *;

// .info__description {

// }

.info__title {
  padding-bottom: rem(4);
  border-bottom: rem(1) solid $green;
  font-size: rem(20);
  line-height: 1.2;
  font-weight: $bold;
  font-family: "Noto Sans JP";

  @include mq("md") {
    padding-bottom: rem(7);
    font-size: rem(24);
    line-height: 1;
  }
}

.info__text {
  margin-top: rem(8);
  font-size: 1rem;
  line-height: 1.5;
  font-weight: $regular;
  font-family: "Noto Sans JP";
}
