@use "global" as *;

.tabs {
  display: grid;
  grid-template-columns: repeat(auto-fit, 162px);
  justify-content: center;
  column-gap: rem(21);
  row-gap: rem(16);

  @include mq("md") {
    justify-content: flex-start;
    column-gap: rem(32);
  }
}
